<h2>List of Tasks</h2>
<br>
<%= link_to "Add a new task", new_path %>
<br>
<% @tasks.each do |task| %>
<ul>
  <li>
    <strong>Task title:</strong>
    <%= task.title %>
  </li>
  <li>
    <strong>Task Details:</strong>
    <%= task.details  %>
  </li>
  <li>

    <strong>Completed?</strong>
    <% if task.completed == true  %>
    <input type="checkbox" name="checkbox" value="" checked="">
    <% else %>
    <input type="checkbox" name="checkbox" value="">
    <% end %>

  </li>
  <br>
  <%= link_to "Task details", task_path(task) %>
  <br>
  <%= link_to "Delete this task", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
</ul>
<% end %>


